<h2>Welcome to this Premier League-centric football database powered by PostgreSQL and Knex.</h2>

<div class="intro">
    <p>If you are a Manchester United fan, please click <a href="./scoreboard">here</a>.</p>

    <P> Otherwise, feel free to browse around and use some of our available tools.</P>
    <h3>Information</h3>
    <ul>
        <li><a href="/teams">Club Information</a></li>
        <li><a href="/nationalteams">National Team Information</a></li>
        <li><a href="/stadiums">Football Stadiums</a></li>
    </ul>

    <h3>Altering the Database</h3>
    <ul>
        <li><a href="/add">Add a Player</a></li>
        <li><a href="/update">Update a Player</a></li>
        <li><a href="/transfer">Transfer a Player</a></li>
    </ul>
</div>