<h2>Transfer a player here</h2>

<h5>Select the player you would like to transfer.</h5>

<form action = "" method = "">
  <label for ="teamDropdown">Select Team</label>
  <select id = "teamDropdown" class = "teamDropdown" name = "team">
    <option disabled selected value> Select a Team </option>
    <option value = "1">Arsenal</option>
    <option value = "2">Aston Villa</option>
    <option value = "3">Bournemouth</option>
    <option value = "4">Brentford</option>
    <option value = "5">Brighton</option>
    <option value = "6">Burnley</option>
    <option value = "7">Chelsea</option>
    <option value = "8">Crystal Palace</option>
    <option value = "9">Everton</option>
    <option value = "10">Fulham</option>
    <option value = "11">Liverpool</option>
    <option value = "12">Luton</option>
    <option value = "13">Manchester City</option>
    <option value = "14">Manchester United</option>
    <option value = "15">Newcastle</option>
    <option value = "16">Nottingham Forest</option>
    <option value = "17">Sheffield United</option>
    <option value = "18">Tottenham</option>
    <option value = "19">West Ham</option>
    <option value = "20">Wolves</option>
  </select>
</form>

<form>
    <label for = "playerDropdown">Select Player</label>
    <select id= "playerDropdown" class = "playerDropdown" name = "player">
        <option disabled selected value> Select a Player </option>
    </select>
</form>

<br>
<br>

<form id="transferForm" style="display:none">

    <label for ="teamselection">Select the team to transfer him to</label>
    <br>
    <select id = "teamselection" class="teamselection" name = "team">
        <option disabled selected value> Select a Team </option>
        <option value = "1">Arsenal</option>
        <option value = "2">Aston Villa</option>
        <option value = "3">Bournemouth</option>
        <option value = "4">Brentford</option>
        <option value = "5">Brighton</option>
        <option value = "6">Burnley</option>
        <option value = "7">Chelsea</option>
        <option value = "8">Crystal Palace</option>
        <option value = "9">Everton</option>
        <option value = "10">Fulham</option>
        <option value = "11">Liverpool</option>
        <option value = "12">Luton</option>
        <option value = "13">Manchester City</option>
        <option value = "14">Manchester United</option>
        <option value = "15">Newcastle</option>
        <option value = "16">Nottingham Forest</option>
        <option value = "17">Sheffield United</option>
        <option value = "18">Tottenham</option>
        <option value = "19">West Ham</option>
        <option value = "20">Wolves</option>
    </select>

    <br>

    <button type="submit">Transfer</button>

</form>

<p class="result" style="display:none"></p>

<script src = '/transferplayer.js'></script>